
*{
  font-family: 'Yu Gothic UI','ＭＳ Ｐ明朝','MS PMincho','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}
body{
  background-color: #44A5CB;
  font-size: 18px;
  color:#EEEEEE;

}

.page_innner{
  margin: 1.5% 7.5%
}

.container{
  display: block;
}



.contents{
  position: relative;
  display:block;
  /*border :solid 3px #007AB7;
  background-color:#44A5CB ;
  filter: drop-shadow(3px 3px 3px rgba(0,0,0,0.6));*/
  width:100%;
  margin:50px auto;
  padding:30px auto;
  
}

.contents .box-title {
  position: absolute;
  display: inline-block;
  top: -22px;
  left: 3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #15658a;
  color: #EEEEEE;
  font-weight: bold;
  border-radius: 5px 5px 5px ;
}

.header_stop_name {
  margin-top:30px;
  text-align: center;
  font-size: 24px;
  margin-left:auto;
  margin-right:auto;
}


.header_stop_name::after{
  content:'';
  display:block;
  background:#E6855E;
  margin-top:-20px;
  margin-left:auto;
  margin-right: auto;
  height:5px;
  width:200px;
}



.bus_situation_now{
  display: block;
  text-align: center;
  margin:10px auto;
  font-size: 18px;
}

.Num{
  font-size: 32px;
  color:#E6855E;
  font-weight: bold;
  text-shadow:0.3px 0.3px 0 #EEEEEE, -0.3px -0.3px 0 #EEEEEE,
              -0.3px 0.3px 0 #EEEEEE, 0.3px -0.3px 0 #EEEEEE,
              0.3px 0.3px 0 #EEEEEE,  0 -0.3px 0 #EEEEEE,
              -0.3px 0 0 #EEEEEE, 0.3px 0 0 #EEEEEE;
}


.bus_crowd_fig{
  display:block;
  position: relative;
  margin : 10px auto;
  width:300px;
}
.bus_crowd_fig p{
  position: absolute;
  top:-10px;
  left:90px;
  text-align: center;
  color:#1F1F1F;
}

#bus_img{
  display:flex;
  justify-content:center;
  align-items: stretch;

}
#sitting_img{
  position: absolute;
  right:39px;
  bottom:51px;
}
#sitting_specific{
  margin:5px
}
#standing_img{
  position: absolute;
  bottom:51px;
  right:170px;

}

.bus_road{
  display:block;
  position: relative;
  margin-left: auto;
  margin-right:auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.box_situation_now{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box11 p {
    margin: 0; 
    padding: 0;
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align:center;
    border-radius: 50%;
    border:solid 3px black;
  }
.line{
    display: inline-block;
    background-image: linear-gradient(#fe3464, #fe3464);
    background-position: 0 50%;
    background-size: 100% 2px;
    background-repeat: repeat-x;
    color: #888;
    margin: 0 0.4em;
    text-decoration: none;
}



  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  

  table tr.item:hover{
    background-color: #187caa;
  }
  
  table th,table td{
    text-align: center;
    width: 25%;
    padding: 10px 0;
  }
  
  table .not_num{
    font-size: 12px;
  }
  table tr.now{
    background-size: 35px;
    background-position: left 5px center;
    background-repeat: no-repeat;
    padding-left: 30px;
  }

  table tr.header{
    border-bottom: solid 1px #eee;

  }
  table tr.item.active{
    background-color: #15658a;
  }






.reminder{
  display: block;
  font-size: 20px;
  margin:24px 30px;
  padding:0px auto;
  text-align: center;
  background-color: #EEEEEE;
  color:#1F1F1F;
  box-shadow: 4px 2px 2px #15658a;
  cursor : pointer;

}

.balloon-right-btm {
  position: relative;
  display: inline-block;
  margin: 0em 0px -100px px;
  padding: 0 0px;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  color: #EEEEEE;
  font-size: 20px;
  font-weight: bold;
  background: #15658a;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon-right-btm:before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #15658a;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input_form{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top:30px;
  padding-top:12px;
  font-size: 24px;
  
 /* margin-left: auto;
  margin-right:auto;*/

}

.input_email{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top:30px;
  padding-top:12px;
  font-size: 24px;
}
#bus_time{
  color:black;
  font-size: 22px;
}

#reminder_confirm{
  z-index:1;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  justify-content: center;
}

#reminder_confirm_contents{
  z-index: 2;
  width:50%;
  text-align: center;
  padding:0.3em;
  background: #eee;
  color : black;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

